
.idea/misc.xml
.idea/ProjetoIntegradorI_2023.iml
__pycache__/analytics.cpython-310.pyc
__pycache__/Databases.cpython-310.pyc
__pycache__/Validations.cpython-310.pyc
Validations.py
Validations.py
.idea/misc.xml
Validations.py
Validations.py
.idea/ProjetoIntegradorI_2023.iml
.idea/misc.xml
