<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Administração</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
  </head>
  <body>
    {% extends "index.html" %}
    {% block content %}

    <div class="container corpo">
      <h2>OLÁ, CHEFE!</h2>
      <a href="/signup" class="button is-outlined">Cadastrar Novo Administrador</a>
      <a href="/estatisticas" class="button is-outlined">Visualizar Inscritos</a>

      <a href="/logout" class="button is-outlined">Sair</a>
    </div>

    {% endblock %}
  </body>
</html>