 <!DOCTYPE html>
<html lang="PT-BR" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Formulário de Inscrição</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Preencha todas as informações!</h1>
            <form id="inscricao-form" action="{{ url_for('submit') }}" method="POST">
                <input type="text" maxlength="8" id="cep" name="cep" placeholder="CEP Residencial"></br></br>
                <input type="text" maxlength="11" id="cpf" name="cpf" placeholder="CPF"></br></br>
                <input type="text" name="nome" placeholder="Nome Completo"></br></br>
                <input type="date" id="nascimento" name="nascimento" placeholder="Data de Nascimento"></br></br>
                <input type="text" name="endereco" placeholder="Endereço: Rua/Av, Nº, Bairro"></br></br>
                <input type="text" maxlength="11" name="telefone" placeholder="Telefone com DDD"></br></br>
                <input type="text" name="email" placeholder="Email"></br></br>
                <div id="turma_select_div">
                    <select id="turma_select" name="turma_select">
                        <option value="">Turma</option>
                    </select>
                </div>
              <button type="submit">Enviar</button>
            </form>

            <script>
                document.getElementById("cep").addEventListener("change", function() {
                  let cep_digitado = parseInt(this.value);
                  if (cep_digitado < 13270000 || cep_digitado >= 13280000){
                      alert("Inscrição permitida somente para moradores da Cidade de Valinhos!");
                      this.value='';
                  }
                });
                document.getElementById("cpf").addEventListener("change", function() {
                  var xhr = new XMLHttpRequest();
                  xhr.open("GET", "/validar_cpf/" + this.value);
                  xhr.onload = function() {
                    if (xhr.status === 200) {
                      if (xhr.responseText === "False") {
                        alert("Esse CPF NÃO é válido ou já foi usado em uma inscrição!");
                      }
                    }
                  };
                  xhr.send();
                });
                document.getElementById("nascimento").addEventListener("change", function() {
                  var data_nascimento = new Date(this.value);
                  var idade = new Date(Date.now() - data_nascimento.getTime()).getUTCFullYear() - 1970;

                  if (idade < 7) {
                    alert("Não é permitida a Incrição de Menores de 7 anos!");
                    this.value='';
                    return;
                  }

                  var turma_select = document.getElementById("turma_select");

                  if (idade >= 7 && idade <= 14) {
                    turma_select.innerHTML = `
                      <option value="">Selecione</option>
                      <option value="3007">Natação Infantil - TER,QUI - 09:00 às 09:45</option>
                      <option value="3008">Natação Infantil - TER,QUI - 10:00 às 10:45</option>
                      <option value="3009">Natação Infantil - QUA,SEX - 09:00 às 09:45</option>
                      <option value="3010">Natação Infantil - QUA,SEX - 10:00 às 10:45</option>
                    `;
                  } else if (idade > 14 && idade < 60) {
                    turma_select.innerHTML = `
                      <option value="">Selecione</option>
                      <option value="3006">Natação Adulto - TER,QUI - 08:00 às 08:45</option>
                      <option value="3001">Hidroginástica Adulto - QUA, SEX - 08:00 às 08:45</option>
                    `;
                  } else {
                    turma_select.innerHTML = `
                      <option value="">Selecione</option>
                      <option value="3002">Hidroginástica 3ª idade - SEG: 08:00 às 08:45 e TER: 14:00 às 14:45</option>
                      <option value="3003">Hidroginástica 3ª idade - SEG: 09:00 às 09:45 e QUA: 14:00 às 14:45</option>
                      <option value="3004">Hidroginástica 3ª idade - SEG: 10:00 às 10:45 e QUI: 14:00 às 14:45</option>
                      <option value="3005">Hidroginástica 3ª idade - SEG, SEX: 10:00 às 10:45</option>
                    `;
                  }

                  document.getElementById("turma_select_div").style.display = "block";
                });

                document.getElementById("turma_select").addEventListener("change", function() {
                  document.querySelectorAll("#turma_select option").forEach(function(option) {
                    option.style.display = "block";
                  });
                });
                </script>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>