<!DOCTYPE html>
<html>
<head>
    <title>Inscrição Inteligente</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="resultado">
        <h1>Validação de CPF</h1>
        <form id="init-form">
            <input type="text" name="cpf" placeholder="CPF">
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#init-form').submit(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '/valida_cpf',
                    type: 'POST',
                    data: $('#init-form').serialize(),
                    success: function(response) {
                        $('#resultado').html(response);
                    }
                });
            });
        });
    </script>
</body>
</html>