<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulário de Inscrição</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
  </head>
  <body>
    {% extends "index.html" %}
    {% block content %}

    <div class="container corpo">
      <h1>Cadastro para Aulas de Futsal Infantil</h1>
      <h3>Após o período de inscricoes, o sorteio será realizado na data divulgada pela prefeitura!</h3>
      <h4 class="logo">Preencha todas as informações!</h4>
      <form id="inscricao-form" action="{{ url_for('submit') }}" method="POST">
        <div class="div-imput">
          <input class="input-texo" type="text" maxlength="8" id="cep" name="cep" placeholder="CEP Residencial" required>
        </div>
        <div class="div-imput">
          <input class="input-texo" type="text" maxlength="11" id="cpf" name="cpf" placeholder="CPF" required>
        </div>
        <div class="div-imput">
          <input class="input-texo" type="text" name="nome" placeholder="Nome Completo" required>
        </div>
        <div class="div-imput">
          <input class="input-texo" type="text"
                 onfocus="(this.type='date')"
                 onblur="(this.type='text')"
                 id="nascimento"
                 name="nascimento"
                 placeholder="Data de Nascimento" required>
        </div>
        <div class="div-imput">
          <input class="input-texo" type="text" name="endereco" placeholder="Endereço: Rua/Av, Nº, Bairro" required>
        </div>
        <div class="div-imput">
          <input class="input-texo" type="text" maxlength="11" name="telefone" placeholder="Telefone com DDD" required>
        </div>
        <div class="div-imput">
          <input class="input-texo" type="text" name="email" placeholder="Email" required>
        </div>

        <div id="turma_select_div div-imput">
          <select id="turma_select" name="turma_select" class="selectAula" required>
            <option  disabled selected value="">Turma</option>
          </select>
        </div>
        <br>
        <div class="div-imput">
          <input type="checkbox" id="termos" name="termos" value="termos" required>
          <label for="termos"><strong>Eu concordo que a Prefeitura de Valinhos armazene meus dados Única e Exclusivamente para esse processo de inscrição!</strong></label>
        </div>
        <br>
        <button type="submit" class="button is-outlined">Enviar</button>
      </form>

      <script>
        document.getElementById("cep").addEventListener("change", function () {
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/valida_cep/" + this.value);
          xhr.onload = function () {
            if (xhr.status === 200) {
              if (xhr.responseText !== "True") {
                document.getElementById('cep').value='';
                alert(xhr.responseText);
              }
            }
          };
          xhr.send();
        });
        document.getElementById("cpf").addEventListener("change", function () {
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/valida_cpf/" + this.value);
          xhr.onload = function () {
            if (xhr.status === 200) {
              if (xhr.responseText !== "True") {
                document.getElementById('cpf').value='';
                alert(xhr.responseText);
              }
            }
          };
          xhr.send();
        });

        document.getElementById("nascimento").addEventListener("change", function () {
          var data_nascimento = new Date(this.value);
          var idade = new Date(Date.now() - data_nascimento.getTime()).getUTCFullYear() - 1970;

          if (idade < 7 || idade > 14) {
            alert("Não é permitida a Incrição de Menores de 7 anos e Maiores de 14 anos!");
            this.value = '';
            return;
          }

          var turma_select = document.getElementById("turma_select");

          if (idade >= 7 && idade <= 14) {
            turma_select.innerHTML = `
                      <option disabled selected value="">Turmas Infantil</option>
                      <option value="3001">Futsal Infantil - Feminino</option>
                      <option value="3002">Futsal Infantil - Masculino</option>
                    `;
          } else {
            turma_select.innerHTML = `
                      <option disabled selected value="">Turmas 3ª idade</option>
                    `;
          }
          /*else if (idade > 14) {
            turma_select.innerHTML = `
                      <option disabled selected value="">Turmas Adulto</option>
                      <option value="3006">Natação Adulto - TER,QUI - 08:00 às 08:45</option>
                      <option value="3001">Hidroginástica Adulto - QUA, SEX - 08:00 às 08:45</option>
                    `;
          } else {
            turma_select.innerHTML = `
                      <option disabled selected value="">Turmas 3ª idade</option>
                      <option value="3002">Hidroginástica 3ª idade - SEG: 08:00 às 08:45 e TER: 14:00 às 14:45</option>
                      <option value="3003">Hidroginástica 3ª idade - SEG: 09:00 às 09:45 e QUA: 14:00 às 14:45</option>
                      <option value="3004">Hidroginástica 3ª idade - SEG: 10:00 às 10:45 e QUI: 14:00 às 14:45</option>
                      <option value="3005">Hidroginástica 3ª idade - SEG, SEX: 10:00 às 10:45</option>
                    `;
          }*/

          document.getElementById("turma_select_div").style.display = "block";
        });

        document.getElementById("turma_select").addEventListener("change", function () {
          document.querySelectorAll("#turma_select option").forEach(function (option) {
            option.style.display = "block";
          });
        });
        function fMasc(objeto,mascara) {
            obj=objeto
            masc=mascara
            setTimeout("fMascEx()",1)
        }

        function fMascEx() {
         obj.value=masc(obj.value)
        }

        function mCPF(cpf){
            cpf=cpf.replace(/\D/g,"")
            cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
            cpf=cpf.replace(/(\d{3})(\d)/,"$1.$2")
            cpf=cpf.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
            return cpf
        }
      </script>
    </div>
    {% endblock %}
  </body>
</html>