<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cadastro para Aulas de Futsal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
  </head>
  <body>
    {% extends "index.html" %}
    {% block content %}
    <div class="container corpo">
      <!--<div class="container corpo">-->
      <h1>Cadastro para Aulas de Futsal</h1>
      <h3><p>A Prefeitura de Valinhos irá ofertar aulas de Futsal para crianças e adolescentes, entre 7 e 14 anos!
        <br>As inscrições serão realizadas entre os dias dd/mm/aaaa e dd/mm/aaaa, e são permitidas APENAS para moradores da cidade de Valinhos.
        <br>É permitido realizar apenas <strong>UMA</strong> inscrição por CPF e em apenas <strong>UMA</strong> Turma.
      </p>
      <p>As turmas serão divididas em duas categorias:</p>
        <ul>
          <li><i>Futsal Infantil - Feminino</i></li>
          <li><i>Futsal Infantil - Masculino</i></li>
        </ul>
        <p>ATENÇÃO! A inscrição <strong><u>NÃO</u></strong> garante uma vaga na Turma. As turmas serão preenchidas através de sorteio no dia dd/mm/aaaa!</p></h3>

      <br><a href="/inscricao" class="button is-outlined">Fazer nova Inscrição</a>
      <br><a href="/status" class="button is-outlined">Consultar Inscrição</a>
    </div>

    <!--<div class="container corpo">
      <h1>Cadastro para Aulas Aquáticas</h1>
      <h3><p>A Prefeitura de Valinhos irá ofertar aulas aquáticas nas modalidades Natação e Hidroginástica!
        <br>As inscrições serão realizadas entre os dias dd/mm/aaaa e dd/mm/aaaa, e são permitidas APENAS para moradores da cidade de Valinhos.
        <br>É permitido realizar apenas <strong>UMA</strong> inscrição por CPF e em apenas <strong>UMA</strong> Turma.
      </p>
      <p>As turmas serão divididas em quatro categorias:</p>
        <ol>
          <li><i>Natação - Infantil</i></li>
          <li><i>Natação - Adulto</i></li>
          <li><i>Hidroginástica - Adulto</i></li>
          <li><i>Hidroginástica - Terceira Idade</i></li>
        </ol>
        <p>ATENÇÃO! A inscrição <strong><u>NÃO</u></strong> garante uma vaga na Turma. As turmas serão preenchidas através de sorteio no dia dd/mm/aaaa!</p></h3>

      <br><a href="/inscricao" class="button is-outlined">Fazer nova Inscrição</a>
      <br><a href="/status" class="button is-outlined">Consultar Inscrição</a>
    </div>-->

    {% endblock %}
  </body>
</html>