<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Incritos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
  </head>
  <body>
    {% extends "index.html" %}
    {% block content %}

    <div class="container corpo">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="title">
                {{ messages[0] }}. Vá para a <a href="{{ url_for('admin') }}">Página de Login</a>.
            </div>
        {% endif %}
        {% endwith %}
    </div>

    {% endblock %}
  </body>
</html>